.wrapper {
	&.menu-open {
		.menu {
			right: 0;
			box-shadow: 0 0 1rem 0 $base-shadow-color;
			border-left: 1px solid $base-border-color;
		}
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
	}	
}

.header {
	display: flex;
	padding: modular-scale(0, $base-size);
	border-bottom: 1px solid $border-color;
	box-shadow: 0 0 1rem 0 $base-shadow-color;
	background: $gray;
	align-items: center;
	position: relative;
	z-index: 1;

	.title {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		box-sizing: border-box;
		transition: all .2s ease-in;
		font-size: modular-scale(1, $base-size);
		font-weight: 300;
	}

	.menu-icon {
		flex: none;
		transition: all .1s linear;
		text-decoration: none;
		font-size: modular-scale(1, $base-size);
		color: $base-font-color;
		-webkit-appearance: none;
	}

	.menu {
		position: fixed;
		top: 0;
		right: -100%;
		box-sizing: border-box;
		transition: all .2s ease-out;
		-webkit-backface-visibility: hidden;
		width: 80%;
		height: 100%;
		z-index: 2;
		background: rgba(255,255,255,.95);
		
		.actions {
			display: flex;
			padding: modular-scale(0, $base-size);
			border-bottom: 1px solid $base-border-color;
			box-shadow: 0 0 1rem 0 $base-shadow-color;
			justify-content: space-between;
			font-size: modular-scale(1, $base-size);			
		}
	}

}