.header {
	display: flex;
	padding: modular-scale(0, $base-size);
	border-bottom: 1px solid $base-border-color;
	box-shadow: 0 0 1rem 0 $base-shadow-color;
	align-items: center;

	&.menu-open {
		.name {
			flex: 0;
		}
		.menu {
			flex: 1;
		}
		.menu-icon {
			transform: rotateY(180deg);
		}
	}

	.name {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		box-sizing: border-box;
		transition: all .2s ease-in;
		font-size: modular-scale(1, $base-size);
		font-weight: 300;
	}

	.menu-icon {
		flex: none;
		transition: all .1s linear;
		text-decoration: none;
		color: $base-font-color;
	}

	.menu {
		flex: 0;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .2s linear;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			li {
				display: block;
				flex: 1;
				text-align: center;
				white-space: nowrap;
			}
		}
	}

}