.link-list {
	margin: 0;
	padding: 0;
	list-style: none;

	&.border-top {
		border-top: 1px solid $link-list-border-color;
	}

	li {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid $link-list-border-color;

		a {
			padding: modular-scale(.5, $base-size) modular-scale(0, $base-size);
			display: block;
			color: $base-link-color;
			text-decoration: none;
		}
	}
}

.weekdays-list {
	margin: 0;
	padding: 0;
	list-style: none;

	&.border-top {
		border-top: 1px solid $link-list-border-color;
	}

	li {
		margin: 0;
		padding: 0;
		position: relative;
		
		> a {
			padding: modular-scale(0, $base-size);
			margin: 0;
			text-decoration: none;
			color: inherit;
			position: relative;
			box-sizing: border-box;
			border-left: .5rem solid lighten($blue, 30%);
			border-bottom: 1px solid $link-list-border-color;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-content: space-between;
			height: modular-scale(4.5, $base-size);
			
			&.current {
				border-left-color: $gray;
				margin-top: -1px;
			}
			&.upcoming {
				opacity: .5;
			}
			&.completed {
				.status-container {
					background: rgba(92, 184, 92,.1);
					color: $green;				
				}
			}
			&.skipped {
				.status-container {
					background: rgba(210, 50, 45,.1);
					color: $red;
				}
			}
			&:active {
				box-shadow: 0 0 1rem 0 $base-shadow-color;
				opacity: 1;
				border-left: .5rem solid $blue;
			}

			.day,
			.date {
				flex: 1 50%;
				color: $light-font-color;
			}
			.date {
				text-align: right;
			}
			.routine {
				flex: 1 60%;
				align-self: flex-end;
			}
			.workouts {
				flex: 1 40%;
				align-self: flex-end;
				text-align: right;
			}
			.status-container {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				top: 0;
				left: 0;
				font-size: modular-scale(3, $base-size);
				line-height: 1;
				z-index: -1;
			}
		}
	}
}