<form action="">
  <label for="">Give your routine a name</label>
  <input type="text" placeholder="ex: Upper Body, Arms...">
  
  <label for="">What days will you do this routine?</label>
  <div class="day-selector">
    <button class="button button-blue">S</button>
    <button class="button button-blue selected">M</button>
    <button class="button button-blue">T</button>
    <button class="button button-blue">W</button>
    <button class="button button-blue">Th</button>
    <button class="button button-blue">F</button>
    <button class="button button-blue">S</button>
  </div>

  <label for="">Add some workouts</label>
  {{view "autocomplete" placeholder="Start typing..." controllerBinding="controller"}}

  <section class="form-actions">
    <button class="button button-green" type="submit">Save</button>
    <button class="button">Cancel</button>
  </section>
</form>