<form action="">
  <label for="">Give your routine a name</label>
  <input type="text" placeholder="ex: Upper Body, Arms...">
  
  <label for="">What days will you do this routine?</label>
  {{view "routine-days"}}

  <label for="">Add some workouts</label>
  {{view "autocomplete" placeholder="Start typing..." controllerBinding="controller"}}

  <section class="form-actions">
    <button class="button button-green" type="submit">Save</button>
    <button class="button">Cancel</button>
  </section>
</form>