{{#each routine in routines}}
  <h3 class="padded">{{routine.name}}</h3>
  <ul class="day-list border-top">
    {{#each workout in routine.workouts}}
      <li>
        {{#link-to "workout" workout}}{{workout.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{else}}
  Rest day!
{{/each}}

<section class="form-actions">
  <button class="button button-green">Completed!</button>
  <button class="button button-red">Skip :(</button>
</section>