{{#if routines}}
  {{#each routine in routines}}
    <h2 class="padded no-padding-bottom">{{routine.name}}</h2>
    <ul {{bind-attr class=":link-list"}}>
      {{#each workout in routine.workouts}}
        <li>
          {{#link-to "workout" workout}}{{workout.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
{{else}}
  Rest day!
{{/if}}