<ul class="week-list">
  {{#each day in model.days itemController="week.day"}}
    <li>
      {{#link-to "week.day" day class=day.status}}
        <div class="day-info">
          <div class="day">{{format-date day.date format="dddd"}}</div>
          <div class="routines">
            {{#if day.totalRoutines}}
              {{day.totalRoutines}} Routines
              {{#if day.totalWorkouts}}
                &middot;
                {{day.totalWorkouts}} Workouts
              {{/if}}
            {{else}}
              Rest Day
            {{/if}}
          </div>
        </div>
      {{/link-to}}
    </li>
  {{/each}}
</ul>