<div class="header">
	<div class="name">Nick Mele</div>
	<div class="menu-icon"><</div>
	<div class="menu">
		<ul>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
			<li>Item</li>
		</ul>
	</div>
</div>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
<p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<ul>
	<li>List item 1</li>
	<li>List item 2</li>
	<li>List item 3</li>
</ul>

<form action="">
	<label for="" class="error">This is a text box</label>
	<input type="text" placeholder="Enter some text..." class="error">
	<div class="error error-message">This is an error message</div>

	<label for="">Text box with button</label>
	<div class="input-with-button">
		<input type="text" placeholder="type stuff and press button">
		<button class="button button-blue">Button</button>
	</div>


	<label for="">This is a textarea</label>
	<textarea placeholder="For longer text..."></textarea>

	<label for="">Suggestion feature</label>
	<input type="text" placeholder="Start typing...">
	<div class="suggestions">
		<a class="suggestion">
			Item 1
		</a>
		<a class="suggestion">
			Item 2
		</a>
		<a class="suggestion">
			Item 2
		</a>
	</div>

	<section class="form-actions">
		<button class="button button-green" type="submit">Save</button>
		<button class="button">Cancel</button>
	</section>
</form>

<button class="button">Button default</button>
<button class="button button-green">Button green</button>
<button class="button button-red">Button red</button>
<button class="button button-blue">Button blue</button>

<button class="button button-small">Button-small default</button>
<button class="button button-small button-green">Button-small green</button>
<button class="button button-small button-red">Button-small red</button>
<button class="button button-small button-blue">Button-small blue</button>

<button class="button button-mini">Button-mini default</button>
<button class="button button-mini button-green">Button-mini green</button>
<button class="button button-mini button-red">Button-mini red</button>
<button class="button button-mini button-blue">Button-small blue</button>

<ul class="link-list">
	<li><a href="">Link 1</a></li>
	<li><a href="">Link 2</a></li>
	<li><a href="">Link 3</a></li>
</ul>